.button {
  padding: 10px 20px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #006675;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  opacity: 0.85;
}
